@media only screen and (min-width: 200px) and (max-width:575px){
    .btn-outer{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        justify-content: center !important;
        background-color: white;
        padding: 5px 0px;
    }
    .whatsapp,.call{
    padding: 7px 15 px;
    font-size: 14px;
    }

    .bannerContent h1{
        font-size:28px;
        font-weight:700;
        text-align: center;
        line-height: 35px;
    }
    .bannerContent br{
        display: none;
    }

    .bannerContent p,.bannerContent ul li{
        font-size: 16px;
    }

    .bannerContentBtn button{
        width: 100%;
    }

    .bannerContentBtn{
        flex-direction: column;
    }
    .bannerForm{
        padding: 20px;
    }
     
    .highlights-section h2{
        font-size: 28px;
    }


}